@tailwind base;
@tailwind components;
@tailwind utilities;
/* Cacher le badge reCAPTCHA v3 */
.grecaptcha-badge {
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}